/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  text-align: center;
}
section {
  width: 90%;
  margin: 5% auto;
}

.container h1, .container div {
padding-bottom: 20px;
}

img {
  height: 200px;
  margin: 0 auto;
}

#why, #steps {
  background-color: #f9f9f9;
}

#why img{
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
#why hr {
  margin-top: 20px;
}
